
@{
    ViewBag.Title = "BlogInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2 class="BlogInfoTitle">Blog Info</h2>

    <div class="BlogInfo">
        <div>Това е моят блог проект за курса по Software Technologies - SoftUni.</div>
        <div><img src="~/Images/rambo-thumbs-up.jpg" alt="rambo" /></div>
        <div style="text-shadow : 1px 1px 1px #000, 3px 3px 5px blue;">Enjoy !</div>

    </div>

