@{
    ViewBag.Title = "Home Page";
}

<section class="row">
    <article class="post col-md-6">
        <h1 class="title">Title</h1>
        <div class="about">
            Posted by <i>Ivomir Ivanov</i>
        on <strong>12-Jul-2016</strong>
        </div>
        <div class="body">
            Тяло на публикациятаааааа... 
            <p>Текст текст текст текст...</p>
        </div>
    </article>
    <article class="post col-md-6">
        <h1 class="title">Title</h1>
        <div class="about">
            Posted by <i>Ivomir Ivanov</i>
            on <strong>12-Jul-2016</strong>
        </div>
        <div class="body">
            Тяло на публикациятаааааа...
            <p>Текст текст текст текст...</p>
        </div>
    </article>
    <article class="post col-md-6">
        <h1 class="title">Title</h1>
        <div class="about">
            Posted by <i>Ivomir Ivanov</i>
            on <strong>12-Jul-2016</strong>
        </div>
        <div class="body">
            Тяло на публикациятаааааа...
            <p>Текст текст текст текст...</p>
        </div>
    </article>
</section>